#home .card-panel {
    background-image:url("/images/slides/AdobeStock_128736245.jpeg");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;   
}

#home .card-panel .overlay{
    background-color: #fff;
    opacity: 0.94;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.list-org{
    min-height:100px;
}

@media screen and (max-width: 400px) {
    #home .card-panel {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    #home .card-panel {
        height: 500px;
    }
}

@media screen and (max-width: 576px) {
    #home .card-panel {
        height: 300px;
    }

}

@media screen and (max-width: 500px) {
    #home .card-panel {
        height: 200px;
    }
}

    
