
.shinystars-app{
    font-family: 'Roboto', sans-serif;
    color:#0065A3;
    margin:10px;
}

nav{
    line-height:100px;
    height: 100px;
    color:#0065A3;
    background-color:#fff;
    border:0px;
    box-shadow: none;
}

nav a,nav ul a,nav .brand-logo{
    color:#0065A3;
    background-color:#fff;
}

.logo-img{
    /*margin:10px;*/
}

.btn{
    background-color:#0065A3; 
    color:#fff;
}

.btn:hover,.btn:active,.btn:focus{
    background-color:#fff; 
    color:#0065A3;
}

.logo-color-1 {
    color: #D9280C;
    font-family: 'Alegreya', serif;
}

.logo-color-2 {
    color: #0065A3/*#416F14*/;
    font-family: 'Alegreya', serif;
}


.need {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.carousel-indicators li {
    background-color: #D9280C;
    height: 25px;
    width: 25px;
    border-radius: 35%;
    display: inline-block;
}

.carousel-indicators .active {
    background-color: #0065A3;
}

.carousel-item {
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.carousel-caption {
    color: #0065A3;
    background-color: #ccc;
    bottom: 5rem;
    z-index: 10;
    padding: 5px;
}

.target-link {
    margin: 10px;
}

.login-form .row .col.s12{
    width:350px;
}

@media screen and (min-width:400px) {
    .logo {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        bottom: 3.5rem;
    }
    .navbar-expand-md {
        justify-content: space-between;
    }
}

@media screen and (max-width: 576px) {
    .carousel-caption {
        bottom: 3.5rem;
    }
    .navbar-expand-md {
        justify-content: space-between;
    }
    .need {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .navbar-expand-md {
        justify-content: space-between;
    }
    .carousel-caption {
        bottom: 3rem;
    }
    .navbar h3 {
        font-size: 12px;
    }
    .need {
        font-size: 0.8em;
    }
    .carousel-indicators li {
        height: 10px;
        width: 10px;
    }
}

@media screen and (max-width: 400px) {
    .carousel-caption {
        bottom: 2.5rem;
    }
    .need {
        font-size: 0.6em;
    }
    .carousel-indicators li {
        height: 10px;
        width: 10px;
    }
}